<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.thymeleaf.org"
	th:replace="base::layout(~{::div})">
<head>
<title>Candidate Login</title>
</head>
<body>

	<div class="container my-5 p-5" style="border: 1px solid black;">
		<h4 class="text-center">Candidate Login</h4>
		<form class="col-md-4 offset-md-4" th:action="@{/candidatelogin}"
			method="post">


			<div class="mb-3">
				<label for="author" class="form-label">Email </label> <input
					type="email" class="form-control" name="email">
			</div>
			<div class="mb-3">
				<label for="price" class="form-label">Password </label> <input
					type="password" class="form-control" name="password">
			</div>

			<center>
				<button type="submit" class="btn btn-primary">Login</button>
			</center>
		</form>
	</div>



</body>
</html>
