<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(content)">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Job Times</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">

<link rel="stylesheet" th:href="@{/css/style.css}" />
<style>
	body {
	    font-family: 'Heebo', sans-serif;
	    background-image: url('/job-portal/src/main/resources/static/img/3398605.jpg'); /* Light background for contrast */
	    color: #333;
	    margin: 0;
	    padding: 0;
	}

</style>
</head>
<body>

	<!-- navbar start -->

	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">Job Portal</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/aboutus">About Us</a></li>

					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/candidates">Search Candidates</a></li>
				</ul>





				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<!-- Dynamic content based on session attribute -->
					<li class="nav-item" th:if="${session.userlogin == 'admin'}">
						<a class="nav-link active" aria-current="page"
						href="/viewcandidates">View Candidates</a>
					</li>

					<li class="nav-item" th:if="${session.userlogin == 'admin'}">
						<a class="nav-link active" aria-current="page"
						href="/viewrecruiters">View Recruiters</a>
					</li>

					<li class="nav-item" th:if="${session.userlogin == 'admin'}">
						<a class="nav-link active" aria-current="page"
						href="/viewallinterviews">View Scheduled Interviews</a>
					</li>

					<li class="nav-item" th:if="${session.userlogin == 'recruiter'}">
						<a class="nav-link active" aria-current="page"
						href="/schedule-interviews">View Scheduled Interviews</a>
					</li>

					<li class="nav-item" th:if="${session.userlogin == 'candidate'}">
						<a class="nav-link active" aria-current="page"
						href="/addqualification">Add Qualification</a>
					</li>

					<li class="nav-item" th:if="${session.userlogin == 'candidate'}">
						<a class="nav-link active" aria-current="page" href="/updateskill">Udpate
							Skill Set</a>
					</li>

					<li class="nav-item" th:if="${session.userlogin == 'candidate'}">
						<a class="nav-link active" aria-current="page"
						href="/candidateprofile">My Profile</a>
					</li>

					<li class="nav-item" th:if="${session.userlogin == null}"><a
						class="nav-link active" aria-current="page"
						href="/recruiterregister">Register Recruiter</a></li>

					<li class="nav-item" th:if="${session.userlogin == null}"><a
						class="nav-link active" aria-current="page"
						href="/candidateregister">Register Candidate</a></li>

					<li class="nav-item" th:if="${session.userlogin == null}"><a
						class="nav-link active" aria-current="page" href="/candidatelogin">Candidate
							Login</a></li>

					<li class="nav-item" th:if="${session.userlogin == null}"><a
						class="nav-link active" aria-current="page" href="/recruiterlogin">Recruiter
							Login</a></li>

					<li class="nav-item" th:if="${session.userlogin != null}"><a
						class="nav-link active" aria-current="page" href="/logout">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- navbar end -->
	
	<div class="container-xxl py-5">
	           <div class="container">
	               <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Contact For Any Query</h1>
	               <div class="row g-4">
	                   <div class="col-12">
	                       <div class="row gy-4">
	                           <div class="col-md-4 wow fadeIn" data-wow-delay="0.1s">
	                               <div class="d-flex align-items-center bg-light rounded p-4">
	                                   <div class="bg-white border rounded d-flex flex-shrink-0 align-items-center justify-content-center me-3" style="width: 45px; height: 45px;">
	                                       <i class="fa fa-map-marker-alt text-primary"></i>
	                                   </div>
	                                   <span>Bhubaneswar,India</span>
	                               </div>
	                           </div>
	                           <div class="col-md-4 wow fadeIn" data-wow-delay="0.3s">
	                               <div class="d-flex align-items-center bg-light rounded p-4">
	                                   <div class="bg-white border rounded d-flex flex-shrink-0 align-items-center justify-content-center me-3" style="width: 45px; height: 45px;">
	                                       <i class="fa fa-envelope-open text-primary"></i>
	                                   </div>
	                                   <span>ralsirasil@gmail.com</span>
	                               </div>
	                           </div>
	                           <div class="col-md-4 wow fadeIn" data-wow-delay="0.5s">
	                               <div class="d-flex align-items-center bg-light rounded p-4">
	                                   <div class="bg-white border rounded d-flex flex-shrink-0 align-items-center justify-content-center me-3" style="width: 45px; height: 45px;">
	                                       <i class="fa fa-phone-alt text-primary"></i>
	                                   </div>
	                                   <span>+91 8249006524</span>
	                               </div>
	                           </div>
	                       </div>
	                   </div>
	                   <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
	                       <iframe class="position-relative rounded w-100 h-100"
	                           src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd""
	                           frameborder="0" style="min-height: 400px; border:0;" allowfullscreen="" aria-hidden="false"
	                           tabindex="0"></iframe>
	                   </div>
	                   <div class="col-md-6">
	                       <div class="wow fadeInUp" data-wow-delay="0.5s">
	                           <p class="mb-4">If you have any questions or concerns, please don't hesitate to contact us. Our customer service team is available to assist you with any queries you may have. You can reach us through the contact form on our website, by email, or by phone. We'll do our best to respond to your message as quickly as possible and provide you with the information you need. Thank you for your interest in our products/services, and we look forward to hearing from you! <a href="">Download Now</a>.</p>
	                           <form>
	                               <div class="row g-3">
	                                   <div class="col-md-6">
	                                       <div class="form-floating">
	                                           <input type="text" class="form-control" id="name" placeholder="Your Name">
	                                           <label for="name">Your Name</label>
	                                       </div>
	                                   </div>
	                                   <div class="col-md-6">
	                                       <div class="form-floating">
	                                           <input type="email" class="form-control" id="email" placeholder="Your Email">
	                                           <label for="email">Your Email</label>
	                                       </div>
	                                   </div>
	                                   <div class="col-12">
	                                       <div class="form-floating">
	                                           <input type="text" class="form-control" id="subject" placeholder="Subject">
	                                           <label for="subject">Subject</label>
	                                       </div>
	                                   </div>
	                                   <div class="col-12">
	                                       <div class="form-floating">
	                                           <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 150px"></textarea>
	                                           <label for="message">Message</label>
	                                       </div>
	                                   </div>
	                                   <div class="col-12">
	                                       <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
	                                   </div>
	                               </div>
	                           </form>
	                       </div>
	                   </div>
	               </div>
	           </div>
	       </div>
		   <div class="container">
		   		               <div class="copyright">
		   		                   <div class="row">
		   		                       <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
		   		                           &copy; <a class="border-bottom" href="">JobStop.com</a>, All Right Reserved. 
		   								
		   								
		   								Designed By <a class="border-bottom" href="">KAKS</a>
		   		                       </div>
		   		                       <div class="col-md-6 text-center text-md-end">
		   		                           <div class="footer-menu">
		   		                               <a href="index.html">Home</a>
		   		                               <a href="">Cookies</a>
		   		                               <a href="">Help</a>
		   		                               <a href="faq.html">FAQs</a>
		   		                           </div>
		   		                       </div>
		   		                   </div>
		   		               </div>
		   		           </div>
		   		       </div>
		   		

		   </body>
		   </html>